.container {
	max-width: 36rem;
	margin: 1.5rem auto 6rem;
	min-height: 80vh;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerImage {
	width: 6rem;
	height: 6rem;
}

.headerHomeImage {
	margin-top: 15px;
	width: 8rem;
	height: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}

.navBar {
	width: 100%;
}

.navBar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

.navBar ul li {
	list-style: none;
}

